/*Mixins and Essentials*/

$primary-font: "Muli", sans-serif;
$secondary-font: "FaktPro", sans-serif;
$primary-color: #000;
$secondary-color: #856b5d;
$primary-color-highlight: rgba(0, 0, 0, 0.1);
$header-height: 70px;
$text-dark: #000;
$project-hover: #1c1e20;
$text: rgb(51, 51, 51);

@mixin transition($time) {
  -webkit-transition: all$time ease;
  -moz-transition: all$time ease;
  -o-transition: all$time ease;
  transition: all$time ease;
}

@mixin smoothtransition($time) {
  -webkit-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -moz-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -o-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
}

::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::selection {
  background: #c4bdb188;
}

/*Body*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  z-index: 999;
}

@keyframes path {
  0% {
    stroke-dasharray: 0, 251;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 125, 125;
    stroke-dashoffset: -60;
  }
  100% {
    stroke-dasharray: 0, 255;
    stroke-dashoffset: -250;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.filler {
  stroke-dasharray: 0, 0;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #fff;
  animation: path 1s ease infinite;
}

.trans {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotate 4s ease infinite;
}

body {
  margin: 0px;
  font-family: $primary-font;
  background-color: #000;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: transparent;
  pointer-events: none;
  z-index: 1000;
  @include transition(0.5s);

  .content-lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    height: calc(100% - 5px);
    padding: 3px 0px;
    @include transition(0.4s);

    img {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
      height: 60%;
      @include transition(0.4s);
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    pointer-events: all;

    .link {
      position: relative;
      padding: 5px 0px;
      cursor: pointer;
      @include transition(0.2s);

      .title {
        position: relative;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.75);
        font-size: 0.9em;
        padding: 3px 2px;
        margin: 0px 10px;
        padding-bottom: 4px;
        text-decoration: none;
        z-index: 1000;

        .fas {
          margin-left: 2px;
          transform: scale(0.9);
        }
      }

      .title:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        height: 2px;
        width: 0%;
        background: #fff;
        z-index: -1;
        transform: translate(-50%, -50%);
        @include smoothtransition(0.2s);
      }

      .menu {
        position: absolute;
        top: 100%;
        left: -2px;
        width: 120px;
        background: #eee;
        padding: 4px 0px;
        border-radius: 2px;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
        @include transition(0.2s);

        .menu-item {
          color: rgba(0, 0, 0, 0.75);
          font-size: 0.8em;
          font-weight: 600;
          padding: 5px 10px;
          padding-bottom: 4px;
          @include transition(0.2s);
        }

        .menu-item:hover {
          background: $primary-color-highlight;
        }
      }
    }

    .link:hover > .title,
    .link.current > .title,
    .link:hover > a .title,
    .link.current > a .title {
      color: #fff;
    }

    .link:hover > .menu {
      opacity: 1;
      pointer-events: all;
    }

    .link:hover > .title:before,
    .link.current .title:before,
    .link:hover > a .title:before,
    .link.current a .title:before {
      width: 100%;
    }
  }

  .hamburger {
    display: none;
    position: relative;
    width: 25px;
    height: $header-height;
    z-index: 1002;
    cursor: pointer;
    pointer-events: all;

    .line-1 {
      position: absolute;
      top: calc(50% - 5px);
      left: 50%;
      width: 100%;
      height: 2px;
      transform: translate(-50%, 0);
      background: #fff;
      @include smoothtransition(0.25s);
    }

    .line-2 {
      position: absolute;
      top: calc(50% + 5px);
      left: 50%;
      width: 100%;
      height: 2px;
      transform: translate(-50%, 0);
      background: #fff;
      @include smoothtransition(0.25s);
    }
  }

  .hamburger.close {
    .line-1 {
      transform: translate(-50%, 5px) rotate(45deg);
    }

    .line-2 {
      transform: translate(-50%, -5px) rotate(-45deg);
    }
  }

  .fill {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
    @include smoothtransition(0.4s);
  }
}

header.dark {
  .links {
    .link {
      .title {
        color: rgba(0, 0, 0, 0.75);
      }
      .title:before {
        background: #000;
      }
    }
    .link:hover > .title,
    .link.current > .title,
    .link:hover > a .title,
    .link.current > a .title {
      color: #000;
    }
  }

  .hamburger {
    .line-1,
    .line-2 {
      background: #000;
    }
  }
  .fill {
    top: 0%;
  }
}

.margins {
  margin: 20px 0px;
}

nav {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: none;
  opacity: 0;
  z-index: 999;
  pointer-events: all;
  @include smoothtransition(0.4s);

  .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    .link {
      margin: 10px 0px;
      text-align: center;
      font-family: $primary-font;

      .title {
        position: relative;
        font-weight: 700;
        font-size: 1.1em;
        padding: 5px 0px;
        letter-spacing: 2px;
      }

      .title:before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        height: 1px;
        left: 50%;
        transform: translate(-50%, 0);
        background: rgba(255, 255, 255, 0.2);
      }

      .menu-item {
        font-family: $secondary-font;
        font-weight: 300;
        margin: 15px 0px;
        letter-spacing: 2px;
        font-size: 1.1em;
      }
    }
  }
}

.content-lg {
  width: 90%;
  margin: 0 auto;
}

.splits {
  display: flex;
  align-items: flex-start;

  .split {
    width: calc(50% - 20px);
    padding: 10px;
  }
}

.split-container {
  display: flex;
  align-items: flex-start;

  .split {
    width: calc(50% - 60px);
    padding: 30px;
  }
}

.split-container.s-40-60 {
  .split:nth-child(1) {
    width: calc(40% - 40px);
  }
  .split:nth-child(2) {
    width: calc(60% - 40px);
  }
}

.content {
  width: 50%;
  margin: auto;
}

section {
  padding: 50px 0px;
  width: 100%;
  background: #fff;
}

section.intro {
  padding-top: 120px;
}

section.fix-space-bottom {
  padding-bottom: 25px;
}

section.fix-space-top {
  padding-top: 25px;
}

section.color {
  background-color: $primary-color;
}

section.white {
  background-color: #fff;
}

section.no-space {
  display: none;
  padding: 0px;

  .cards-container {
    margin: 0px;
    .card {
      height: 175px;
      margin: 0px;
      width: 50%;
    }
    .card-full {
      width: 100%;
    }
  }
}

section.header-cover {
  height: 70px;
  padding: 0px;
}

section.projects {
  padding: 0px;
  height: calc(100vh);
  background: #000;

  .project-gallery {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .background-delay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
    }

    .project {
      position: relative;
      width: calc(25% - 2px);
      height: calc(100% / 3 - 2px);
      background-color: rgba(0, 0, 0, 0.3);
      background-image: unset;
      border: 1px solid rgba(255, 255, 255, 0.1);
      cursor: pointer;
      @include transition(0.25s);

      .name {
        position: absolute;
        width: calc(100% - 40px);
        margin: 20px;
        bottom: 0px;
        overflow: hidden;

        p {
          position: relative;
          top: 0px;
          font-size: 1.1em;
          font-weight: 700;
          margin: 0px;
          text-align: right;
          color: #fff;
          line-height: 1;
          @include smoothtransition(0.4s);
        }
      }
      .name-center {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        padding: 0px;
        margin: 0px auto;
        height: auto;
        transform: translate(-50%, -50%);
        overflow: hidden;

        p {
          text-transform: uppercase;
          position: relative;
          top: 50px;
          text-align: center;
          margin: 0px;
          color: #fff;
          font-size: 0.9em;
          font-weight: 700;
          letter-spacing: 2px;
          @include smoothtransition(0.4s);
        }
      }
    }

    .project:hover > .name p {
      top: 50px;
    }
    .project:hover > .name-center p {
      top: 0px;
    }

    .project.avh:hover {
      background-color: rgb(116, 94, 65);
    }
    .project.coban:hover {
      background-color: rgb(180, 165, 143);
    }
    .project.lvogue:hover {
      background-color: rgb(134, 75, 85);
    }
    .project.micasa:hover {
      background-color: rgb(40, 45, 75);
    }
    .project.osho:hover {
      background-color: rgb(82, 35, 66);
    }
    .project.satyasheel:hover {
      background-color: rgb(48, 37, 37);
    }
    .project.ph:hover {
      background-color: rgb(39, 54, 141);
    }
    .project.rch:hover {
      background-color: rgb(111, 112, 116);
    }
    .project.rh:hover {
      background-color: rgb(75, 104, 128);
    }
    .project.rv:hover {
      background-color: rgb(112, 48, 48);
    }
    .project.leaf:hover {
      background-color: rgb(207, 169, 118);
    }
    .project.affordable:hover {
      background-color: rgb(53, 49, 51);
    }
  }
}

.avh {
  background-image: url("../img/AV House/LC_AV (6 of 20).jpg");
  background-size: cover;
  background-position: center center;
}

.coban {
  background-image: url("../img/Coban Residencies/SIDE VIEW (3).jpg");
  background-size: cover;
  background-position: center center;
}

.lvogue {
  background-image: url("../img/Linen Vogue/2.jpg");
  background-size: cover;
  background-position: center center;
}

.osho {
  background-image: url("../img/Osho House/Babbar's Residence-9.jpg");
  background-size: cover;
  background-position: center center;
}

.micasa {
  background-image: url("../img/Micasa/road_drive.jpg");
  background-size: cover;
  background-position: center center;
}

.satyasheel {
  background-image: url("../img/Satyasheel/2.jpg");
  background-size: cover;
  background-position: center center;
}

.ph {
  background-image: url("../img/Proposed Housing/pool night cam_highrez_.jpg");
  background-size: cover;
  background-position: center center;
}

.rch {
  background-image: url("../img/Residential Cube House/Bath-1.jpg");
  background-size: cover;
  background-position: center center;
}

.rh {
  background-image: url("../img/Residential Housing/cam_2.jpg");
  background-size: cover;
  background-position: center center;
}

.rv {
  background-image: url("../img/Residential Villa/B4.jpg");
  background-size: cover;
  background-position: center center;
}

.leaf {
  background-image: url("../img/The Leaf House/Image 13.jpg");
  background-size: cover;
  background-position: center center;
}

.affordable {
  background-image: url("../img/Affordable Housing/SITE_TOWER_10.jpg");
  background-size: cover;
  background-position: center center;
}

.mobile-section {
  display: none;
}

section.black {
  background-color: #000;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  button {
    background: #222;
  }

  button:after {
    opacity: 0.1;
  }

  p {
    color: #ddd;
  }

  hr {
    border: 2px solid #fff;
  }
}

section.services {
  position: relative;
  background-image: url("../img/Coban Residencies/CLUB (11).jpg");
  background-size: 175% auto;
  background-position: center center;
  z-index: 10;
}

section.services:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

section.landing-about {
  padding-top: 0px;
  background: #edeceb;

  .content {
    position: relative;
    top: -40px;
    padding: 50px 75px;
    background: #fff;
  }
}

@keyframes slideshow {
  0% {
    left: 0%;
    transform-origin: 12.5% 50%;
  }
  20% {
    left: 0%;
    transform-origin: 12.5% 50%;
  }
  25% {
    left: -100%;
    transform-origin: 37.5% 50%;
  }
  45% {
    left: -100%;
    transform-origin: 37.5% 50%;
  }
  50% {
    left: -200%;
    transform-origin: 62.5% 50%;
  }
  70% {
    left: -200%;
    transform-origin: 62.5% 50%;
  }
  75% {
    left: -300%;
    transform-origin: 87.5% 50%;
  }
  95% {
    left: -300%;
    transform-origin: 87.5% 50%;
  }
  100% {
    left: 0%;
    transform-origin: 12.5% 50%;
  }
}
section.image-slide {
  position: relative;
  padding-top: $header-height;
  padding: 0px;
  height: 100vh;
  background-color: #111;
  overflow: hidden;

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400%;
    display: flex;
    animation: slideshow 20s infinite;
    transform-origin: 50% 0;
    transform: translate(0, 0) scale(1.1);

    .slide {
      width: 25%;
      height: 100%;
    }

    .slide:nth-child(1) {
      background-image: url("../img/The Leaf House/Image 5.jpg");
      background-size: cover;
      background-position: center center;
    }

    .slide:nth-child(2) {
      background-image: url("../img/Osho House/Babbar's Residence-19.jpg");
      background-size: cover;
      background-position: center center;
    }

    .slide:nth-child(3) {
      background-image: url("../img/Satyasheel/1.jpg");
      background-size: cover;
      background-position: center center;
    }

    .slide:nth-child(4) {
      background-image: url("../img/Linen Vogue/1.jpg");
      background-size: cover;
      background-position: center center;
    }
  }

  .slider:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
  }

  .slider:after {
    background: rgba(0, 0, 0, 0.4);
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1,
    h5 {
      color: #fff;
      position: relative;
      top: 0;
      left: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  color: $text-dark;
  font-weight: 600;
  margin: 10px 0px;
  line-height: 1.1;
}

.margins {
  margin: 20px 0px;
}

h1.lite,
h2.lite,
h3.lite,
h4.lite,
h5.lite,
h6.lite {
  text-transform: uppercase;
  font-family: $secondary-font;
  color: $text-dark;
  font-weight: 300;
  letter-spacing: 5px;
}

.text-light {
  font-family: $secondary-font;
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

h1 {
  font-size: 3.6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

p {
  color: $text;
  margin: 20px 0px;
  line-height: 1.75;
  font-size: 0.95em;
  font-weight: 400;
  text-align: justify;
  font-family: $secondary-font;
}

.person-image {
  width: 80px;
  height: 80px;
  background: #eee;
  border-radius: 100%;
  margin: 25px 0px;
}

p.no-line-height {
  line-height: 1.35;
}

p.lg {
  font-size: 1.2em;
}

p.social {
  a {
    font-size: 1.25em;
    padding: 5px;
    margin: 5px;
    border: none;
    color: $text-dark;
    @include transition(0.25s);

    i {
      @include transition(0.25s);
    }
  }
  a:hover {
    border: none;
  }
  a:hover > i {
    color: #888;
  }
}

hr {
  width: 40px;
  border: 2px solid $primary-color;
  margin: 20px 0px;
  margin-left: 0;
}

button {
  position: relative;
  background: $primary-color;
  padding: 14px 24px;
  margin: 10px 0px;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-weight: 700;
  border: none;
  border-radius: 0;
  z-index: 10;
  font-family: $primary-font;
  font-size: 0.9em;
  overflow: hidden;
  @include smoothtransition(0.25s);

  .fas {
    margin-left: 5px;
    @include smoothtransition(0.25s);
  }
}

button:after {
  content: "";
  position: absolute;
  top: 0%;
  left: -100%;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.25;
  @include smoothtransition(0.4s);
}

button:hover:after {
  left: 0;
}

.sm {
  font-size: 0.8em;
}

p {
  a {
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    @include transition(0.2s);
  }

  a:hover {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .card {
    width: calc(50% - 20px);
    height: 175px;
    margin: 10px;
    background-color: $secondary-color;
  }

  .card-full {
    width: 100%;
  }

  .card:nth-child(5) {
    background-image: url("../img/AV House/LC_AV (13 of 20).jpg");
    background-size: cover;
    background-position: center center;
  }
  .card:nth-child(2) {
    background-image: url("../img/Linen Vogue/5.jpg");
    background-size: cover;
    background-position: center center;
  }
  .card:nth-child(3) {
    background-image: url("../img/Osho House/Babbar's Residence-14.jpg");
    background-size: cover;
    background-position: center center;
  }
  .card:nth-child(4) {
    background-image: url("../img/Satyasheel/4.jpg");
    background-size: cover;
    background-position: center center;
  }
  .card:nth-child(1) {
    background-image: url("../img/The Leaf House/Image 20.jpg");
    background-size: cover;
    background-position: center center;
  }
}

/*SERVICES*/
.gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  .card {
    width: calc(33% - 40px);
    margin: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);

    .screen {
      width: 100%;
      height: 150px;
      background-color: $secondary-color;
    }

    .mp {
      background-image: url("../img/Proposed Housing/Club House Cam_Highrez_.jpg");
      background-size: cover;
      background-position: center center;
    }

    .ud {
      background-image: url("../img/Affordable Housing/affordable_again.jpg");
      background-size: cover;
      background-position: center center;
    }

    .gbd {
      background-image: url("../img/Micasa/aerial.jpg");
      background-size: 200% auto;
      background-position: center center;
    }

    .ad {
      background-image: url("../img/Micasa/club.jpg");
      background-size: 200% auto;
      background-position: center center;
    }

    .cad {
      background-image: url("../img/Osho House/Babbar's Residence-19.jpg");
      background-size: cover;
      background-position: center center;
    }

    .id {
      background-image: url("../img/Satyasheel/4.jpg");
      background-size: cover;
      background-position: center center;
    }

    .pm {
      background-image: url("../img/Linen Vogue/5.jpg");
      background-size: cover;
      background-position: center center;
    }

    .tdv {
      background-image: url("../img/Proposed Housing/site_send.jpg");
      background-size: cover;
      background-position: center center;
    }

    .caption {
      width: calc(100% - 50px);
      padding: 25px;
      font-family: $primary-font;
      font-weight: 700;
      color: $text-dark;
      font-size: 1.1em;
    }
  }
}

p.sm {
  font-size: 0.8em;
}

footer {
  padding: 15px 0px;
  background: #fff;

  .content-lg {
    display: flex;
    justify-content: space-between;
  }

  p.sm {
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.7em;
    width: 60%;

    .fas {
      font-size: 0.75em;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000;

    a {
      margin: 15px;
      font-size: 1.25em;
      cursor: pointer;
      @include transition(0.25s);
    }

    a:hover {
      color: #888 !important;
    }
  }
}

footer.with-top-border {
  .content-lg {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 1000px) {
  .content {
    width: 70%;
  }

  h1 {
    font-size: 3.25em;
  }

  h2 {
    font-size: 2.75em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.75em;
  }

  h5 {
    font-size: 1.5em;
  }

  h6 {
    font-size: 1.2em;
  }

  p.lg {
    font-size: 1em;
  }

  button {
    font-size: 0.7em;
  }

  section {
    padding: 40px 0px;
  }

  section.fix-space-bottom {
    padding-bottom: 20px;
  }

  section.fix-space-top {
    padding-top: 20px;
  }

  section.landing-about {
    padding-top: 0px;
    background: #edeceb;

    .content {
      position: relative;
      top: -20px;
      padding: 30px 60px;
      background: #fff;
    }
  }

  .split-container,
  .split-container.s-40-60 {
    display: block;

    .split {
      width: 100% !important;
      padding: 0px !important;
    }

    .split:nth-child(2) {
      display: none;
    }
  }

  section.no-space {
    display: block;
  }

  .cards-container {
    margin: 20px 0px;

    .card {
      height: 160px;
      width: calc(50% - 10px);
      margin: 5px;
    }

    .card-full {
      width: 100%;
    }
  }

  .gallery {
    .card {
      width: calc(50% - 24px);
      margin: 10px;
    }
  }

  section.projects {
    .project-gallery {
      .project {
        width: calc(33.33% - 2px);
        height: calc(25% - 2px);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .content {
    width: 85%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.7em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1em;
  }

  header {
    .links {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }

  section {
    padding: 30px 0px;
  }

  section.fix-space-bottom {
    padding-bottom: 15px;
  }

  section.fix-space-top {
    padding-top: 15px;
  }

  section.intro {
    padding-top: 140px;
  }

  section.landing-about {
    padding-top: 30px;
    background: #fff;

    .content {
      position: relative;
      top: 0px;
      padding: 0px;
    }
  }

  .cards-container {
    .card {
      height: 120px;
      width: calc(50% - 10px);
      margin: 5px;
    }
    .card-full {
      width: 100%;
    }
  }

  .gallery {
    .card {
      width: calc(100% - 22px);
      margin: 10px;
    }
  }

  .mobile-section {
    display: block;
  }

  section.projects {
    height: 150vh;
    .project-gallery {
      .project {
        position: relative;
        width: calc(50% - 2px);
        height: calc(100% / 6 - 2px);
        z-index: 10;

        .name p {
          text-align: left;
        }

        .name-center {
          display: none;
        }
      }
      .project:hover {
        background-color: none;
      }
      .project:hover > .name p {
        top: 0px;
      }
      .project:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: -1;
      }
      .avh {
        background-image: url("../img/AV House/LC_AV (6 of 20).jpg");
        background-size: cover;
        background-position: center center;
      }

      .coban {
        background-image: url("../img/Coban Residencies/SIDE VIEW (3).jpg");
        background-size: cover;
        background-position: center center;
      }

      .lvogue {
        background-image: url("../img/Linen Vogue/2.jpg");
        background-size: cover;
        background-position: center center;
      }

      .osho {
        background-image: url("../img/Osho House/Babbar's Residence-9.jpg");
        background-size: cover;
        background-position: center center;
      }

      .micasa {
        background-image: url("../img/Micasa/road_drive.jpg");
        background-size: cover;
        background-position: center center;
      }

      .satyasheel {
        background-image: url("../img/Satyasheel/2.jpg");
        background-size: cover;
        background-position: center center;
      }

      .ph {
        background-image: url("../img/Proposed Housing/pool night cam_highrez_.jpg");
        background-size: cover;
        background-position: center center;
      }

      .rch {
        background-image: url("../img/Residential Cube House/Bath-1.jpg");
        background-size: cover;
        background-position: center center;
      }

      .rh {
        background-image: url("../img/Residential Housing/cam_2.jpg");
        background-size: cover;
        background-position: center center;
      }

      .rv {
        background-image: url("../img/Residential Villa/B4.jpg");
        background-size: cover;
        background-position: center center;
      }

      .leaf {
        background-image: url("../img/The Leaf House/Image 13.jpg");
        background-size: cover;
        background-position: center center;
      }

      .affordable {
        background-image: url("../img/Affordable Housing/SITE_TOWER_10.jpg");
        background-size: cover;
        background-position: center center;
      }
      .background,
      .background-delay {
        background: none;
      }
    }
  }

  .splits {
    display: block;

    .split {
      width: calc(100% - 20px);
    }
  }

  footer {
    padding: 5px 0px;
    .content-lg {
      //border-top: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      flex-wrap: wrap-reverse;
    }

    .socials {
      width: 100%;
      justify-content: center;
      margin: 2px 0px;
      padding: 2px 0px;
    }
    p.sm {
      margin-top: 2px;
      font-size: 0.7em;
      width: 100%;
      text-align: center;
    }
  }
}
