/*Mixins and Essentials*/
::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  background: #fff; }

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none; }

::-webkit-scrollbar-corner {
  background-color: transparent; }

::-moz-selection {
  background: #c4bdb188; }

::selection {
  background: #c4bdb188; }

/*Body*/
body {
  margin: 0px;
  font-family: "Muli", sans-serif;
  background-color: #fff; }

a {
  color: inherit !important;
  text-decoration: none !important; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: transparent;
  pointer-events: none;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  header .content-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%; }
  header .logo {
    height: calc(100% - 5px);
    padding: 3px 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    header .logo img {
      position: relative;
      top: 50%;
      -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      height: 60%;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  header .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    pointer-events: all; }
    header .links .link {
      position: relative;
      padding: 5px 0px;
      cursor: pointer;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      header .links .link .title {
        position: relative;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.75);
        font-size: 0.9em;
        padding: 3px 2px;
        margin: 0px 10px;
        padding-bottom: 4px;
        text-decoration: none;
        z-index: 1000; }
      header .links .link .title:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        height: 2px;
        width: 0%;
        background: #fff;
        z-index: -1;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.2s cubic-bezier(0.43, 0.13, 0.15, 0.99);
        -moz-transition: all 0.2s cubic-bezier(0.43, 0.13, 0.15, 0.99);
        -o-transition: all 0.2s cubic-bezier(0.43, 0.13, 0.15, 0.99);
        transition: all 0.2s cubic-bezier(0.43, 0.13, 0.15, 0.99); }
      header .links .link .menu {
        position: absolute;
        top: 100%;
        left: -2px;
        width: 120px;
        background: #eee;
        padding: 4px 0px;
        border-radius: 2px;
        opacity: 0;
        pointer-events: none;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        header .links .link .menu .menu-item {
          color: rgba(0, 0, 0, 0.75);
          font-size: 0.8em;
          font-weight: 600;
          padding: 5px 10px;
          padding-bottom: 4px;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
        header .links .link .menu .menu-item:hover {
          background: rgba(0, 0, 0, 0.1); }
    header .links .link:hover > .title,
    header .links .link.current > .title,
    header .links .link:hover > a .title,
    header .links .link.current > a .title {
      color: #fff; }
    header .links .link:hover > .menu {
      opacity: 1;
      pointer-events: all; }
    header .links .link:hover > .title:before,
    header .links .link.current .title:before,
    header .links .link:hover > a .title:before,
    header .links .link.current a .title:before {
      width: 100%; }
  header .hamburger {
    display: none;
    position: relative;
    width: 60px;
    height: 70px;
    z-index: 1002;
    cursor: pointer;
    pointer-events: all; }
    header .hamburger .line-1 {
      position: absolute;
      top: calc(50% - 5px);
      left: 50%;
      width: 40%;
      height: 2px;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      background: #fff;
      -webkit-transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99);
      -moz-transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99);
      -o-transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99);
      transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99); }
    header .hamburger .line-2 {
      position: absolute;
      top: calc(50% + 5px);
      left: 50%;
      width: 40%;
      height: 2px;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      background: #fff;
      -webkit-transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99);
      -moz-transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99);
      -o-transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99);
      transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99); }
  header .hamburger.close .line-1 {
    -webkit-transform: translate(-50%, 5px) rotate(45deg);
    -ms-transform: translate(-50%, 5px) rotate(45deg);
    transform: translate(-50%, 5px) rotate(45deg); }
  header .hamburger.close .line-2 {
    -webkit-transform: translate(-50%, -5px) rotate(-45deg);
    -ms-transform: translate(-50%, -5px) rotate(-45deg);
    transform: translate(-50%, -5px) rotate(-45deg); }
  header .fill {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    -webkit-transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99);
    -moz-transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99);
    -o-transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99);
    transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99); }

header.dark .links .link .title {
  color: rgba(0, 0, 0, 0.75); }

header.dark .links .link .title:before {
  background: #000; }

header.dark .links .link:hover > .title,
header.dark .links .link.current > .title,
header.dark .links .link:hover > a .title,
header.dark .links .link.current > a .title {
  color: #000; }

header.dark .hamburger .line-1,
header.dark .hamburger .line-2 {
  background: #000; }

header.dark .fill {
  top: 0%; }

.margins {
  margin: 20px 0px; }

nav {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: none;
  opacity: 0;
  z-index: 999;
  pointer-events: all;
  -webkit-transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99);
  transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99); }
  nav .links {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff; }
    nav .links .link {
      margin: 10px 0px;
      text-align: center;
      font-family: "Muli", sans-serif; }
      nav .links .link .title {
        position: relative;
        font-weight: 300;
        font-size: 1.5em;
        padding: 5px 0px;
        letter-spacing: 2px; }
      nav .links .link .title:before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        height: 1px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        background: rgba(255, 255, 255, 0.25); }
      nav .links .link .menu-item {
        font-family: "FaktPro", sans-serif;
        font-weight: 300;
        margin: 15px 0px;
        letter-spacing: 2px;
        font-size: 1.2em; }

.content-lg {
  width: 90%;
  margin: 0 auto; }

.split-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .split-container .split {
    width: calc(50% - 60px);
    padding: 30px; }

.split-container.s-40-60 .split:nth-child(1) {
  width: calc(40% - 40px); }

.split-container.s-40-60 .split:nth-child(2) {
  width: calc(60% - 40px); }

.content {
  width: 50%;
  margin: auto; }

section {
  padding: 50px 0px;
  width: 100%;
  background: #fff; }

section.intro {
  padding-top: 120px; }

section.fix-space-bottom {
  padding-bottom: 25px; }

section.fix-space-top {
  padding-top: 25px; }

section.color {
  background-color: #000; }

section.white {
  background-color: #fff; }

section.no-space {
  display: none;
  padding: 0px; }
  section.no-space .cards-container {
    margin: 0px; }
    section.no-space .cards-container .card {
      height: 175px;
      margin: 0px;
      width: 50%; }
    section.no-space .cards-container .card-full {
      width: 100%; }

section.header-cover {
  height: 70px;
  padding: 0px; }

section.projects {
  padding: 0px;
  height: calc(100vh);
  background: #000; }
  section.projects .project-gallery {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden; }
    section.projects .project-gallery .background-delay {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      pointer-events: none; }
    section.projects .project-gallery .background {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none; }
    section.projects .project-gallery .project {
      position: relative;
      width: calc(25% - 2px);
      height: calc(100% / 3 - 2px);
      background-color: rgba(0, 0, 0, 0.3);
      background-image: unset;
      border: 1px solid rgba(255, 255, 255, 0.1);
      cursor: pointer;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; }
      section.projects .project-gallery .project .name {
        position: absolute;
        width: calc(100% - 30px);
        padding: 15px;
        bottom: 0px;
        font-weight: 700;
        text-align: right;
        color: #fff; }
    section.projects .project-gallery .project.avh:hover {
      background-color: #745e41; }
    section.projects .project-gallery .project.coban:hover {
      background-color: #b4a58f; }
    section.projects .project-gallery .project.lvogue:hover {
      background-color: #864b55; }
    section.projects .project-gallery .project.micasa:hover {
      background-color: #282d4b; }
    section.projects .project-gallery .project.osho:hover {
      background-color: #235237; }
    section.projects .project-gallery .project.satyasheel:hover {
      background-color: #302525; }
    section.projects .project-gallery .project.ph:hover {
      background-color: #27368d; }
    section.projects .project-gallery .project.rch:hover {
      background-color: #6f7074; }
    section.projects .project-gallery .project.rh:hover {
      background-color: #4b6880; }
    section.projects .project-gallery .project.rv:hover {
      background-color: #703030; }
    section.projects .project-gallery .project.leaf:hover {
      background-color: #cfa976; }
    section.projects .project-gallery .project.affordable:hover {
      background-color: #353133; }

.avh {
  background-image: url("../img/AV House/LC_AV (6 of 20).jpg");
  background-size: cover;
  background-position: center center; }

.coban {
  background-image: url("../img/Coban Residencies/SIDE VIEW (3).jpg");
  background-size: cover;
  background-position: center center; }

.lvogue {
  background-image: url("../img/Linen Vogue/2.jpg");
  background-size: cover;
  background-position: center center; }

.osho {
  background-image: url("../img/Osho House/Babbar's Residence-14.jpg");
  background-size: cover;
  background-position: center center; }

.micasa {
  background-image: url("../img/Micasa/road_drive.jpg");
  background-size: 150% auto;
  background-repeat: no-repeat;
  background-position: center center; }

.satyasheel {
  background-image: url("../img/Satyasheel/2.jpg");
  background-size: cover;
  background-position: center center; }

.ph {
  background-image: url("../img/Proposed Housing/pool night cam_highrez_.jpg");
  background-size: cover;
  background-position: center center; }

.rch {
  background-image: url("../img/Residential Cube House/Bath-1.jpg");
  background-size: cover;
  background-position: center center; }

.rh {
  background-image: url("../img/Residential Housing/cam_2.jpg");
  background-size: cover;
  background-position: center center; }

.rv {
  background-image: url("../img/Residential Villa/B4.jpg");
  background-size: 120% auto;
  background-repeat: no-repeat;
  background-position: center center; }

.leaf {
  background-image: url("../img/The Leaf House/Image 13.jpg");
  background-size: cover;
  background-position: center center; }

.affordable {
  background-image: url("../img/Affordable Housing/SITE_TOWER_10.jpg");
  background-size: cover;
  background-position: center center; }

.mobile-section {
  display: none; }

section.black {
  background-color: #000; }
  section.black h1,
  section.black h2,
  section.black h3,
  section.black h4,
  section.black h5,
  section.black h6 {
    color: #fff; }
  section.black button {
    background: #222; }
  section.black button:after {
    opacity: 0.1; }
  section.black p {
    color: #ddd; }
  section.black hr {
    border: 2px solid #fff; }

section.services {
  position: relative;
  background-image: url("../img/Coban Residencies/CLUB (11).jpg");
  background-size: 175% auto;
  background-position: center center;
  z-index: 10; }

section.services:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1; }

section.landing-about {
  padding-top: 0px;
  background: #edeceb; }
  section.landing-about .content {
    position: relative;
    top: -40px;
    padding: 50px 75px;
    background: #fff; }

@-webkit-keyframes slideshow {
  0% {
    left: 0%;
    -webkit-transform-origin: 12.5% 50%;
    transform-origin: 12.5% 50%; }
  20% {
    left: 0%;
    -webkit-transform-origin: 12.5% 50%;
    transform-origin: 12.5% 50%; }
  25% {
    left: -100%;
    -webkit-transform-origin: 37.5% 50%;
    transform-origin: 37.5% 50%; }
  45% {
    left: -100%;
    -webkit-transform-origin: 37.5% 50%;
    transform-origin: 37.5% 50%; }
  50% {
    left: -200%;
    -webkit-transform-origin: 62.5% 50%;
    transform-origin: 62.5% 50%; }
  70% {
    left: -200%;
    -webkit-transform-origin: 62.5% 50%;
    transform-origin: 62.5% 50%; }
  75% {
    left: -300%;
    -webkit-transform-origin: 87.5% 50%;
    transform-origin: 87.5% 50%; }
  95% {
    left: -300%;
    -webkit-transform-origin: 87.5% 50%;
    transform-origin: 87.5% 50%; }
  100% {
    left: 0%;
    -webkit-transform-origin: 12.5% 50%;
    transform-origin: 12.5% 50%; } }

@keyframes slideshow {
  0% {
    left: 0%;
    -webkit-transform-origin: 12.5% 50%;
    transform-origin: 12.5% 50%; }
  20% {
    left: 0%;
    -webkit-transform-origin: 12.5% 50%;
    transform-origin: 12.5% 50%; }
  25% {
    left: -100%;
    -webkit-transform-origin: 37.5% 50%;
    transform-origin: 37.5% 50%; }
  45% {
    left: -100%;
    -webkit-transform-origin: 37.5% 50%;
    transform-origin: 37.5% 50%; }
  50% {
    left: -200%;
    -webkit-transform-origin: 62.5% 50%;
    transform-origin: 62.5% 50%; }
  70% {
    left: -200%;
    -webkit-transform-origin: 62.5% 50%;
    transform-origin: 62.5% 50%; }
  75% {
    left: -300%;
    -webkit-transform-origin: 87.5% 50%;
    transform-origin: 87.5% 50%; }
  95% {
    left: -300%;
    -webkit-transform-origin: 87.5% 50%;
    transform-origin: 87.5% 50%; }
  100% {
    left: 0%;
    -webkit-transform-origin: 12.5% 50%;
    transform-origin: 12.5% 50%; } }

section.image-slide {
  position: relative;
  padding-top: 70px;
  padding: 0px;
  height: 100vh;
  background-color: #111;
  overflow: hidden; }
  section.image-slide .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: slideshow 20s infinite;
    animation: slideshow 20s infinite;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: translate(0, 0) scale(1.1);
    -ms-transform: translate(0, 0) scale(1.1);
    transform: translate(0, 0) scale(1.1); }
    section.image-slide .slider .slide {
      width: 25%;
      height: 100%; }
    section.image-slide .slider .slide:nth-child(1) {
      background-image: url("../img/The Leaf House/Image 5.jpg");
      background-size: cover;
      background-position: center center; }
    section.image-slide .slider .slide:nth-child(2) {
      background-image: url("../img/Osho House/Babbar's Residence-19.jpg");
      background-size: cover;
      background-position: center center; }
    section.image-slide .slider .slide:nth-child(3) {
      background-image: url("../img/Satyasheel/1.jpg");
      background-size: cover;
      background-position: center center; }
    section.image-slide .slider .slide:nth-child(4) {
      background-image: url("../img/Linen Vogue/1.jpg");
      background-size: cover;
      background-position: center center; }
  section.image-slide .slider:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%; }
  section.image-slide .slider:after {
    background: rgba(0, 0, 0, 0.4); }
  section.image-slide .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    section.image-slide .content h1,
    section.image-slide .content h5 {
      color: #fff;
      position: relative;
      top: 0;
      left: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  color: #000;
  font-weight: 600;
  margin: 10px 0px;
  line-height: 1.1; }

.margins {
  margin: 20px 0px; }

h1.lite,
h2.lite,
h3.lite,
h4.lite,
h5.lite,
h6.lite {
  text-transform: uppercase;
  font-family: "FaktPro", sans-serif;
  color: #000;
  font-weight: 300;
  letter-spacing: 5px; }

.text-light {
  font-family: "FaktPro", sans-serif;
  font-weight: 300; }

.text-bold {
  font-weight: 500; }

.center {
  text-align: center; }

h1 {
  font-size: 3.6em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2.5em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.1em; }

p {
  color: #333333;
  margin: 20px 0px;
  line-height: 1.75;
  font-size: 0.95em;
  font-weight: 400;
  font-family: "FaktPro", sans-serif; }

p.lg {
  font-size: 1.2em; }

hr {
  width: 40px;
  border: 2px solid #000;
  margin: 20px 0px;
  margin-left: 0; }

button {
  position: relative;
  background: #000;
  padding: 14px 24px;
  margin: 10px 0px;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-weight: 700;
  border: none;
  border-radius: 0;
  z-index: 10;
  font-family: "Muli", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  -webkit-transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -moz-transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -o-transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99);
  transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99); }
  button .fas {
    margin-left: 5px; }

button:after {
  content: "";
  position: absolute;
  top: 0%;
  left: -100%;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.25;
  -webkit-transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99);
  transition: all 0.4s cubic-bezier(0.43, 0.13, 0.15, 0.99); }

button:hover:after {
  left: 0; }

.sm {
  font-size: 0.8em; }

p a {
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

p a:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.cards-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .cards-container .card {
    width: calc(50% - 20px);
    height: 175px;
    margin: 10px;
    background-color: #856b5d; }
  .cards-container .card-full {
    width: 100%; }
  .cards-container .card:nth-child(5) {
    background-image: url("../img/AV House/LC_AV (13 of 20).jpg");
    background-size: cover;
    background-position: center center; }
  .cards-container .card:nth-child(2) {
    background-image: url("../img/Linen Vogue/5.jpg");
    background-size: cover;
    background-position: center center; }
  .cards-container .card:nth-child(3) {
    background-image: url("../img/Osho House/Babbar's Residence-14.jpg");
    background-size: cover;
    background-position: center center; }
  .cards-container .card:nth-child(4) {
    background-image: url("../img/Satyasheel/4.jpg");
    background-size: cover;
    background-position: center center; }
  .cards-container .card:nth-child(1) {
    background-image: url("../img/The Leaf House/Image 20.jpg");
    background-size: cover;
    background-position: center center; }

/*SERVICES*/
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .gallery .card {
    width: calc(33% - 40px);
    margin: 20px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05); }
    .gallery .card .screen {
      width: 100%;
      height: 150px;
      background-color: #856b5d; }
    .gallery .card .mp {
      background-image: url("../img/Proposed Housing/Club House Cam_Highrez_.jpg");
      background-size: cover;
      background-position: center center; }
    .gallery .card .ud {
      background-image: url("../img/Affordable Housing/affordable_again.jpg");
      background-size: cover;
      background-position: center center; }
    .gallery .card .gbd {
      background-image: url("../img/Micasa/aerial.jpg");
      background-size: 200% auto;
      background-position: center center; }
    .gallery .card .ad {
      background-image: url("../img/Micasa/club.jpg");
      background-size: 200% auto;
      background-position: center center; }
    .gallery .card .cad {
      background-image: url("../img/Osho House/Babbar's Residence-19.jpg");
      background-size: cover;
      background-position: center center; }
    .gallery .card .id {
      background-image: url("../img/Satyasheel/4.jpg");
      background-size: cover;
      background-position: center center; }
    .gallery .card .pm {
      background-image: url("../img/Linen Vogue/5.jpg");
      background-size: cover;
      background-position: center center; }
    .gallery .card .tdv {
      background-image: url("../img/Proposed Housing/site_send.jpg");
      background-size: cover;
      background-position: center center; }
    .gallery .card .caption {
      width: calc(100% - 50px);
      padding: 25px;
      font-family: "Muli", sans-serif;
      font-weight: 700;
      color: #000;
      font-size: 1.1em; }

footer {
  padding: 15px 0px;
  background: #fff; }
  footer .content-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  footer p.sm {
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.7em;
    width: 60%; }
    footer p.sm .fas {
      font-size: 0.75em; }
  footer .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #000; }
    footer .socials a {
      margin: 15px;
      font-size: 1.25em;
      cursor: pointer;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease; }
    footer .socials a:hover {
      color: #888 !important; }

footer.with-top-border .content-lg {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

@media only screen and (max-width: 1000px) {
  .content {
    width: 70%; }
  h1 {
    font-size: 3.25em; }
  h2 {
    font-size: 2.75em; }
  h3 {
    font-size: 2em; }
  h4 {
    font-size: 1.75em; }
  h5 {
    font-size: 1.5em; }
  h6 {
    font-size: 1.2em; }
  p.lg {
    font-size: 1em; }
  button {
    font-size: 0.7em; }
  section {
    padding: 40px 0px; }
  section.fix-space-bottom {
    padding-bottom: 20px; }
  section.fix-space-top {
    padding-top: 20px; }
  section.landing-about {
    padding-top: 0px;
    background: #edeceb; }
    section.landing-about .content {
      position: relative;
      top: -20px;
      padding: 30px 60px;
      background: #fff; }
  .split-container,
  .split-container.s-40-60 {
    display: block; }
    .split-container .split,
    .split-container.s-40-60 .split {
      width: 100% !important;
      padding: 0px !important; }
    .split-container .split:nth-child(2),
    .split-container.s-40-60 .split:nth-child(2) {
      display: none; }
  section.no-space {
    display: block; }
  .cards-container {
    margin: 20px 0px; }
    .cards-container .card {
      height: 160px;
      width: calc(50% - 10px);
      margin: 5px; }
    .cards-container .card-full {
      width: 100%; }
  .gallery .card {
    width: calc(50% - 24px);
    margin: 10px; }
  section.projects .project-gallery .project {
    width: calc(33.33% - 2px);
    height: calc(25% - 2px); } }

@media only screen and (max-width: 600px) {
  .content {
    width: 85%; }
  h1 {
    font-size: 2.5em; }
  h2 {
    font-size: 2.2em; }
  h3 {
    font-size: 1.7em; }
  h4 {
    font-size: 1.4em; }
  h5 {
    font-size: 1.2em; }
  h6 {
    font-size: 1em; }
  header .links {
    display: none; }
  header .hamburger {
    display: block; }
  section {
    padding: 30px 0px; }
  section.fix-space-bottom {
    padding-bottom: 15px; }
  section.fix-space-top {
    padding-top: 15px; }
  section.intro {
    padding-top: 140px; }
  section.landing-about {
    padding-top: 30px;
    background: #fff; }
    section.landing-about .content {
      position: relative;
      top: 0px;
      padding: 0px; }
  .cards-container .card {
    height: 120px;
    width: calc(50% - 10px);
    margin: 5px; }
  .cards-container .card-full {
    width: 100%; }
  .gallery .card {
    width: calc(100% - 22px);
    margin: 10px; }
  .mobile-section {
    display: block; }
  section.projects {
    height: 150vh; }
    section.projects .project-gallery .project {
      position: relative;
      width: calc(50% - 2px);
      height: calc(100% / 6 - 2px);
      z-index: 10; }
      section.projects .project-gallery .project .name {
        text-align: left; }
    section.projects .project-gallery .project:hover {
      background-color: none; }
    section.projects .project-gallery .project:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: -1; }
    section.projects .project-gallery .avh {
      background-image: url("../img/AV House/LC_AV (6 of 20).jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .coban {
      background-image: url("../img/Coban Residencies/SIDE VIEW (3).jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .lvogue {
      background-image: url("../img/Linen Vogue/2.jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .osho {
      background-image: url("../img/Osho House/Babbar's Residence-14.jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .micasa {
      background-image: url("../img/Micasa/road_drive.jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .satyasheel {
      background-image: url("../img/Satyasheel/2.jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .ph {
      background-image: url("../img/Proposed Housing/pool night cam_highrez_.jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .rch {
      background-image: url("../img/Residential Cube House/Bath-1.jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .rh {
      background-image: url("../img/Residential Housing/cam_2.jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .rv {
      background-image: url("../img/Residential Villa/B4.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
    section.projects .project-gallery .leaf {
      background-image: url("../img/The Leaf House/Image 13.jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .affordable {
      background-image: url("../img/Affordable Housing/SITE_TOWER_10.jpg");
      background-size: cover;
      background-position: center center; }
    section.projects .project-gallery .background,
    section.projects .project-gallery .background-delay {
      background: none; }
  footer {
    padding: 5px 0px; }
    footer .content-lg {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }
    footer .socials {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 2px 0px;
      padding: 2px 0px; }
    footer p.sm {
      margin-top: 2px;
      font-size: 0.7em;
      width: 100%;
      text-align: center; } }
